# **AAMC Table A-1 (MD schools) and Table B-8 (MD/PhD schools) Analysis**

### Importing the required packages

In [1]:
import pandas as pd 
import numpy as np
import datetime as datetime
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# **Table A-1 (MD schools)**

## Setting the main file directory, importing, and cleaning every Table A-1

In [2]:
# Setting the main file directory
main_dir = "C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis/AAMC data"

# Column names for every excel file
colnames1 = ["state", "school", "applications", "in state applicants", "out of state applicants", "women applicants", "men applicants", "matriculants", "in state matriculants", "out of state matriculants", "women matriculants", "men matriculants"]
colnames2 = ["state", "school", "applications", "in state applicants", "out of state applicants", "men applicants", "women applicants", "matriculants", "in state matriculants", "out of state matriculants", "men matriculants", "women matriculants"]

In [3]:
# 2012 cycle
a1_2012 = pd.read_excel(main_dir+"/A-1/2012_FACTS_Table_1.xlsx", header=9, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
a1_2012.columns = colnames1
totals_2012 = a1_2012[a1_2012["state"]=="Totals"]
totals_2012["cycle_year"] = 2012
a1_2012 = a1_2012.iloc[0:137, ]
a1_2012["state"] = a1_2012["state"].fillna(method="ffill")
a1_2012['cycle_year'] = 2012

# 2013 cycle
a1_2013 = pd.read_excel(main_dir+"/A-1/2013_FACTS_Table_1.xlsx", header=9, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
a1_2013.columns = colnames1
totals_2013 = a1_2013[a1_2013["state"]=="Totals"]
totals_2013["cycle_year"] = 2013
a1_2013 = a1_2013.iloc[0:141, ]
a1_2013["state"] = a1_2013["state"].fillna(method="ffill")
a1_2013['cycle_year'] = 2013

#2014 cycle
a1_2014 = pd.read_excel(main_dir+"/A-1/2014_FACTS_Table_1.xlsx", header=9, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
a1_2014.columns = colnames1
totals_2014 = a1_2014[a1_2014["state"]=="Totals"]
totals_2014["cycle_year"] = 2014
a1_2014 = a1_2014.iloc[0:142, ]
a1_2014["state"] = a1_2014["state"].fillna(method="ffill")
a1_2014['cycle_year'] = 2014

# 2015 cycle
a1_2015 = pd.read_excel(main_dir+"/A-1/2015_FACTS_Table_A-1.xlsx", header=8, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
a1_2015.columns = colnames1
totals_2015 = a1_2015[a1_2015["state"]=="Total"]
totals_2015["cycle_year"] = 2015
a1_2015 = a1_2015.iloc[0:143, ]
a1_2015["state"] = a1_2015["state"].fillna(method="ffill")
a1_2015['cycle_year'] = 2015

# 2016 cycle
a1_2016 = pd.read_excel(main_dir+"/A-1/2016_FACTS_Table_A-1.xlsx", header=8, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
a1_2016.columns = colnames1
totals_2016 = a1_2016[a1_2016["state"]=="Total"]
totals_2016["cycle_year"] = 2016
a1_2016 = a1_2016.iloc[0:146, ]
a1_2016["state"] = a1_2016["state"].fillna(method="ffill")
a1_2016['cycle_year'] = 2016

# 2017 cycle
a1_2017 = pd.read_excel(main_dir+"/A-1/2017_FACTS_Table_A-1.xlsx", header=8, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
a1_2017.columns = colnames1
totals_2017 = a1_2017[a1_2017["state"]=="Total"]
totals_2017["cycle_year"] = 2017
a1_2017 = a1_2017.iloc[0:147, ]
a1_2017["state"] = a1_2017["state"].fillna(method="ffill")
a1_2017['cycle_year'] = 2017

# 2018 cycle
a1_2018 = pd.read_excel(main_dir+"/A-1/2018_FACTS_Table_A-1.xlsx", header=8, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
a1_2018.columns = colnames2
totals_2018 = a1_2018[a1_2018["state"]=="Total"]
totals_2018["cycle_year"] = 2018
a1_2018 = a1_2018.iloc[0:151, ]
a1_2018["state"] = a1_2018["state"].fillna(method="ffill")
a1_2018['cycle_year'] = 2018

# 2019 cycle
a1_2019 = pd.read_excel(main_dir+"/A-1/2019_FACTS_Table_A-1.xlsx", header=8, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
a1_2019.columns = colnames2
totals_2019 = a1_2019[a1_2019["state"]=="Total"]
totals_2019["cycle_year"] = 2019
a1_2019 = a1_2019.iloc[0:153, ]
a1_2019["state"] = a1_2019["state"].fillna(method="ffill")
a1_2019['cycle_year'] = 2019

# 2020 cycle
a1_2020 = pd.read_excel(main_dir+"/A-1/2020_FACTS_Table_A-1.xlsx", header=8, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
a1_2020.columns = colnames2
totals_2020 = a1_2020[a1_2020["state"]=="Total"]
totals_2020["cycle_year"] = 2020
a1_2020 = a1_2020.iloc[0:155, ]
a1_2020["state"] = a1_2020["state"].fillna(method="ffill")
a1_2020['cycle_year'] = 2020

# 2021 cycle
a1_2021 = pd.read_excel(main_dir+"/A-1/2021_FACTS_Table_A-1.xlsx", header=8, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
a1_2021.columns = colnames2
totals_2021 = a1_2021[a1_2021["state"]=="Total"]
totals_2021["cycle_year"] = 2021
a1_2021 = a1_2021.iloc[0:155, ]
a1_2021["state"] = a1_2021["state"].fillna(method="ffill")
a1_2021['cycle_year'] = 2021

<ipython-input-3-8aa352483af6>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totals_2012["cycle_year"] = 2012
<ipython-input-3-8aa352483af6>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totals_2013["cycle_year"] = 2013
<ipython-input-3-8aa352483af6>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totals_2014["cycle_year"] = 2014
<ipython-input-3-8aa352483af6>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totals_2015["cycle_year"] = 2015
<ipython-input-3-8aa352483af6>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totals_2016["cycle_year"] = 2016
<ipython-input-3-8aa352483af6>:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totals_2017["cycle_year"] = 2017
<ipython-input-3-8aa352483af6>:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totals_2018["cycle_year"] = 2018
<ipython-input-3-8aa352483af6>:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totals_2019["cycle_year"] = 2019
<ipython-input-3-8aa352483af6>:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totals_2020["cycle_year"] = 2020
<ipython-input-3-8aa352483af6>:86: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totals_2021["cycle_year"] = 2021

## Concatenating the totals for each cycle and Exporting

In [4]:
# Concatenating the totals per year
totals = pd.concat([totals_2012, totals_2013, totals_2014, totals_2015, totals_2016, totals_2017, totals_2018, totals_2019, totals_2020, totals_2021], axis=0)
totals = totals.drop(["state", "school"], axis=1).reset_index(drop=True)
totals["applicants"] = [45266, 48014, 49480, 52550, 53042, 51680, 52777, 53371, 53030, 62443]
totals["applications"] = [636309, 690281, 731595, 781602, 830016, 816153, 849678, 896819, 906588, 1099486]
totals["matriculants"] = [19517, 20055, 20343, 20631, 21030, 21338, 21622, 21869, 22239, 22666]
totals["applications per applicant"] = totals["applications"] / totals["applicants"]
totals["matriculant applicant percent"] = (totals["matriculants"] / totals["applicants"])*100

# Exporting and displaying
display(totals)
#totals.to_excel(main_dir+"/AAMC Table A-1 Totals.xlsx", index=False)

,applications,in state applicants,out of state applicants,women applicants,men applicants,matriculants,in state matriculants,out of state matriculants,women matriculants,men matriculants,cycle_year,applicants,applications per applicant,matriculant applicant percent
0,636309,23.7,76.3,45.1,54.9,19517,61.2,38.8,46.4,53.6,2012,45266,14.057107,43.116246
1,690281,23.7,76.3,45.7,54.3,20055,62.0,38.0,47.2,52.8,2013,48014,14.376661,41.769067
2,731595,23.6,76.4,45.9,54.1,20343,61.3,38.7,47.8,52.2,2014,49480,14.785671,41.113581
3,781602,23.2,76.8,45.8,54.2,20631,60.3,39.7,47.8,52.2,2015,52550,14.873492,39.259753
4,830016,23.4,76.6,47.6,52.4,21030,60.6,39.4,49.8,50.2,2016,53042,15.648279,39.647826
5,816153,23.3,76.7,48.8,51.2,21338,60.7,39.3,50.7,49.3,2017,51680,15.792434,41.288700
6,849678,22.7,77.3,49.7,50.3,21622,60.6,39.4,51.6,48.3,2018,52777,16.099399,40.968604
7,896819,22.4,77.6,51.1,48.8,21869,60.6,39.4,52.4,47.6,2019,53371,16.803489,40.975436
8,906588,22.9,77.1,51.9,48.0,22239,60.3,39.7,53.6,46.2,2020,53030,17.095757,41.936640
9,1099486,22.7,77.3,55.0,44.9,22666,60.2,39.8,55.5,44.4,2021,62443,17.607834,36.298704

## Concatenating the cycle data for each year and Exporting

In [5]:
# Concatenating cycles
a1 = pd.concat([a1_2012, a1_2013, a1_2014, a1_2015, a1_2016, a1_2017, a1_2018, a1_2019, a1_2020, a1_2021], axis=0)
a1 = a1.reset_index(drop=True)

# Getting rid of numbers in the school names and replacing redundant names for med schools that changed their names over time
schools = []
for school in a1["school"]:
    new_school = ''.join([i for i in school if not i.isdigit()])
    schools.append(new_school)
a1["school"] = schools
a1["school"] = a1["school"].replace({"Alabama-Heersink":"Alabama", "Kaiser Permanente-Tyson":"Kaiser Permanente", "Central Florida":"UCF", "GRU MC Georgia":"MC Georgia Augusta", "MC Georgia":"MC Georgia Augusta", "Chicago Med-Franklin":"Chicago Med Franklin",
                                    "Massachusetts-Chan":"Massachusetts", "Mayo-Alix":"Mayo", "St Louis":"Saint Louis", "UMDNJ New Jersey":"Rutgers New Jersey", "UMDNJ-RW Johnson":"Rutgers-RW Johnson", "SHU-Hackensack Meridian":"Hackensack Meridian",
                                    "Nevada":"Nevada Reno", "Columbia":"Columbia-Vagelos", "Yeshiva Einstein":"Einstein", "Hofstra North Shore-LIJ":"Zucker Hofstra Northwell", "Hofstra Northwell":"Zucker Hofstra Northwell", "Stony Brook":"Renaissance Stony Brook",
                                    "Mount Sinai":"Mount Sinai-Icahn", "New York University":"NYU-Grossman", "Buffalo":"Buffalo-Jacobs", "Case Western":"Case Western Reserve", "Jefferson":"Jefferson-Kimmel", "Commonwealth":"Geisinger Commonwealth",
                                    "Temple":"Temple-Katz", "South Carolina":"South Carolina Columbia", "UT HSC San Antonio":"UT San Antonio-Long", "UT Houston":"UT Houston-McGovern", "Vermont":"Vermont-Larner"})

# Exporting and displaying
display(a1)
#a1.to_excel(main_dir+"/AAMC Table A-1 Merged.xlsx", index=False)

,state,school,applications,in state applicants,out of state applicants,women applicants,men applicants,matriculants,in state matriculants,out of state matriculants,women matriculants,men matriculants,cycle_year
0,AL,Alabama,2599,15.4,84.6,41.9,58.1,176.0,86.4,13.6,39.8,60.2,2012
1,AL,South Alabama,1309,27.3,72.7,41.6,58.4,74.0,90.5,9.5,37.8,62.2,2012
2,AR,Arkansas,2148,14.8,85.2,38.9,61.1,166.0,86.7,13.3,36.7,63.3,2012
3,AZ,Arizona,5809,23.8,76.2,43.2,56.8,195.0,72.3,27.7,50.8,49.2,2012
4,CA,Loma Linda,5217,41.4,58.6,45.0,55.0,168.0,44.6,55.4,45.2,54.8,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,WA,Washington State-Floyd,1755.0,55.6,44.4,55.2,44.7,80.0,91.3,8.8,50.0,50.0,2021
1466,WI,MC Wisconsin,11145.0,7.4,92.6,52.8,47.1,265.0,54.7,45.3,58.1,41.9,2021
1467,WI,Wisconsin,6415.0,12.1,87.9,51.4,48.5,171.0,71.3,28.7,59.6,40.4,2021
1468,WV,Marshall-Edwards,2322.0,8.6,91.4,54.2,45.7,80.0,78.8,21.3,52.5,46.3,2021
1469,WV,West Virginia,5061.0,4.2,95.8,49.9,50.1,112.0,57.1,42.9,50.9,49.1,2021

# **Table B-8 (MD/PhD Schools)**

## Setting the main file directory, importing, and cleaning every Table A-1

In [6]:
# 2012 cycle
b8_2012 = pd.read_excel(main_dir+"/B-8/2012_FACTS_Table_33.xlsx", header=9, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
b8_2012.columns = colnames1
total_b_2012 = b8_2012[b8_2012["state"]=="Total1"]
total_b_2012["cycle_year"] = 2012
b8_2012 = b8_2012.iloc[0:137, ]
b8_2012["state"] = b8_2012["state"].fillna(method="ffill")
b8_2012['cycle_year'] = 2012

# 2013 cycle
b8_2013 = pd.read_excel(main_dir+"/B-8/2013_FACTS_Table_33.xlsx", header=9, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
b8_2013.columns = colnames1
total_b_2013 = b8_2013[b8_2013["state"]=="Totals1"]
total_b_2013["cycle_year"] = 2013
b8_2013 = b8_2013.iloc[0:141, ]
b8_2013["state"] = b8_2013["state"].fillna(method="ffill")
b8_2013['cycle_year'] = 2013

# 2014 cycle
b8_2014 = pd.read_excel(main_dir+"/B-8/2014_FACTS_Table_33.xlsx", header=9, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
b8_2014.columns = colnames1
total_b_2014 = b8_2014[b8_2014["state"]=="Totals1"]
total_b_2014["cycle_year"] = 2014
b8_2014 = b8_2014.iloc[0:141, ]
b8_2014["state"] = b8_2014["state"].fillna(method="ffill")
b8_2014['cycle_year'] = 2014

# 2015 cycle
b8_2015 = pd.read_excel(main_dir+"/B-8/2015_FACTS_Table_B-8.xlsx", header=8, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
b8_2015.columns = colnames1
total_b_2015 = b8_2015[b8_2015["state"]=="Total"]
total_b_2015["cycle_year"] = 2015
b8_2015 = b8_2015.iloc[0:142, ]
b8_2015["state"] = b8_2015["state"].fillna(method="ffill")
b8_2015['cycle_year'] = 2015

# 2016 cycle
b8_2016 = pd.read_excel(main_dir+"/B-8/2016_FACTS_Table_B-8.xlsx", header=8, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
b8_2016.columns = colnames1
total_b_2016 = b8_2016[b8_2016["state"]=="Total"]
total_b_2016["cycle_year"] = 2016
b8_2016 = b8_2016.iloc[0:145, ]
b8_2016["state"] = b8_2016["state"].fillna(method="ffill")
b8_2016['cycle_year'] = 2016

# 2017 cycle
b8_2017 = pd.read_excel(main_dir+"/B-8/2017_FACTS_Table_B-8.xlsx", header=8, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
b8_2017.columns = colnames1
total_b_2017 = b8_2017[b8_2017["state"]=="Total"]
total_b_2017["cycle_year"] = 2017
b8_2017 = b8_2017.iloc[0:147, ]
b8_2017["state"] = b8_2017["state"].fillna(method="ffill")
b8_2017['cycle_year'] = 2017

# 2018 cycle
b8_2018 = pd.read_excel(main_dir+"/B-8/2018_FACTS_Table_B-8.xlsx", header=8, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
b8_2018.columns = colnames2
total_b_2018 = b8_2018[b8_2018["state"]=="Total"]
total_b_2018["cycle_year"] = 2018
b8_2018 = b8_2018.iloc[0:151, ]
b8_2018["state"] = b8_2018["state"].fillna(method="ffill")
b8_2018['cycle_year'] = 2018

# 2019 cycle
b8_2019 = pd.read_excel(main_dir+"/B-8/2019_FACTS_Table_B-8.xlsx", header=8, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
b8_2019.columns = colnames2
total_b_2019 = b8_2019[b8_2019["state"]=="Total"]
total_b_2019["cycle_year"] = 2019
b8_2019 = b8_2019.iloc[0:153, ]
b8_2019["state"] = b8_2019["state"].fillna(method="ffill")
b8_2019['cycle_year'] = 2019

# 2020 cycle
b8_2020 = pd.read_excel(main_dir+"/B-8/2020_FACTS_Table_B-8.xlsx", header=8, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
b8_2020.columns = colnames2
total_b_2020 = b8_2020[b8_2020["state"]=="Total"]
total_b_2020["cycle_year"] = 2020
b8_2020 = b8_2020.iloc[0:155, ]
b8_2020["state"] = b8_2020["state"].fillna(method="ffill")
b8_2020['cycle_year'] = 2020

# 2021 cycle
b8_2021 = pd.read_excel(main_dir+"/B-8/2021_FACTS_Table_B-8.xlsx", header=8, usecols=[0,1,2,3,4,5,6,7,8,9,10,11])
b8_2021.columns = colnames2
total_b_2021 = b8_2021[b8_2021["state"]=="Total"]
total_b_2021["cycle_year"] = 2021
b8_2021 = b8_2021.iloc[0:155, ]
b8_2021["state"] = b8_2021["state"].fillna(method="ffill")
b8_2021['cycle_year'] = 2021

<ipython-input-6-71dc3c724341>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_b_2012["cycle_year"] = 2012
<ipython-input-6-71dc3c724341>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_b_2013["cycle_year"] = 2013
<ipython-input-6-71dc3c724341>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_b_2014["cycle_year"] = 2014
<ipython-input-6-71dc3c724341>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_b_2015["cycle_year"] = 2015
<ipython-input-6-71dc3c724341>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_b_2016["cycle_year"] = 2016
<ipython-input-6-71dc3c724341>:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_b_2017["cycle_year"] = 2017
<ipython-input-6-71dc3c724341>:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_b_2018["cycle_year"] = 2018
<ipython-input-6-71dc3c724341>:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_b_2019["cycle_year"] = 2019
<ipython-input-6-71dc3c724341>:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_b_2020["cycle_year"] = 2020
<ipython-input-6-71dc3c724341>:86: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_b_2021["cycle_year"] = 2021

## Concatenating the totals for each cycle and Exporting

In [7]:
# Concatenating the totals per year
total_b = pd.concat([total_b_2012, total_b_2013, total_b_2014, total_b_2015, total_b_2016, total_b_2017, total_b_2018, total_b_2019, total_b_2020, total_b_2021], axis=0)
total_b = total_b.drop(["state", "school"], axis=1).reset_index(drop=True)
total_b["applicants"] = [1853, 1937, 1891, 1887, 1936, 1858, 1855, 1813, 1855, 2091]
total_b["applications per applicant"] = total_b["applications"] / total_b["applicants"]
total_b["matriculant applicant percent"] = (total_b["matriculants"] / total_b["applicants"])*100

# Exporting and displaying
display(total_b)
#total_b.to_excel(main_dir+"/AAMC Table B-8 Totals.xlsx", index=False)

,applications,in state applicants,out of state applicants,women applicants,men applicants,matriculants,in state matriculants,out of state matriculants,women matriculants,men matriculants,cycle_year,applicants,applications per applicant,matriculant applicant percent
0,22800.0,15.7,84.3,37.3,62.7,635.0,29.3,70.7,36.9,63.1,2012,1853,12.304371,34.268753
1,23919.0,16.8,83.2,35.6,64.4,609.0,28.9,71.1,36.5,63.5,2013,1937,12.348477,31.440372
2,23488.0,15.6,84.4,36.8,63.2,626.0,28.1,71.9,39.0,61.0,2014,1891,12.420941,33.104178
3,24810.0,15.0,85.0,36.2,63.7,626.0,27.3,72.7,39.1,60.9,2015,1887,13.147854,33.174351
4,26232.0,15.2,84.8,41.4,58.3,649.0,27.1,72.9,43.1,56.9,2016,1936,13.549587,33.522727
5,24664.0,15.0,85.0,43.5,56.4,646.0,27.7,72.3,44.1,55.7,2017,1858,13.274489,34.768568
6,25794.0,14.9,85.1,44.6,55.2,672.0,29.0,71.0,46.4,53.6,2018,1855,13.905121,36.226415
7,26529.0,13.9,86.1,47.6,52.3,708.0,26.1,73.9,50.0,49.9,2019,1813,14.632653,39.051296
8,28327.0,14.1,85.9,48.7,51.3,701.0,23.0,77.0,51.4,48.6,2020,1855,15.270620,37.789757
9,33288.0,13.8,86.2,47.4,52.4,750.0,25.5,74.5,50.1,49.7,2021,2091,15.919656,35.868006

## Concatenating the cycle data for each year and Exporting

In [8]:
# Concatenating cycles
b8 = pd.concat([b8_2012, b8_2013, b8_2014, b8_2015, b8_2016, b8_2017, b8_2018, b8_2019, b8_2020, b8_2021], axis=0)
b8 = b8.reset_index(drop=True)

# Getting rid of numbers in the school names and replacing redundant names for med schools that changed their names over time
schools = []
for school in b8["school"]:
    new_school = ''.join([i for i in school if not i.isdigit()])
    schools.append(new_school)
b8["school"] = schools
b8["school"] = b8["school"].replace({"Alabama-Heersink":"Alabama", "Kaiser Permanente-Tyson":"Kaiser Permanente", "Central Florida":"UCF", "GRU MC Georgia":"MC Georgia Augusta", "MC Georgia":"MC Georgia Augusta", "Chicago Med-Franklin":"Chicago Med Franklin",
                                    "Massachusetts-Chan":"Massachusetts", "Mayo-Alix":"Mayo", "St Louis":"Saint Louis", "UMDNJ New Jersey":"Rutgers New Jersey", "UMDNJ-RW Johnson":"Rutgers-RW Johnson", "SHU-Hackensack Meridian":"Hackensack Meridian",
                                    "Nevada":"Nevada Reno", "Columbia":"Columbia-Vagelos", "Yeshiva Einstein":"Einstein", "Hofstra North Shore-LIJ":"Zucker Hofstra Northwell", "Hofstra Northwell":"Zucker Hofstra Northwell", "Stony Brook":"Renaissance Stony Brook",
                                    "Mount Sinai":"Mount Sinai-Icahn", "New York University":"NYU-Grossman", "Buffalo":"Buffalo-Jacobs", "Case Western":"Case Western Reserve", "Jefferson":"Jefferson-Kimmel", "Commonwealth":"Geisinger Commonwealth",
                                    "Temple":"Temple-Katz", "South Carolina":"South Carolina Columbia", "UT HSC San Antonio":"UT San Antonio-Long", "UT Houston":"UT Houston-McGovern", "Vermont":"Vermont-Larner"})

# Exporting and displaying
display(b8)
#b8.to_excel(main_dir+"/AAMC Table B-8 Merged.xlsx", index=False)

,state,school,applications,in state applicants,out of state applicants,women applicants,men applicants,matriculants,in state matriculants,out of state matriculants,women matriculants,men matriculants,cycle_year
0,AL,Alabama,280.0,2.9,97.1,35.7,64.3,8.0,12.5,87.5,37.5,62.5,2012
1,AL,South Alabama,10.0,30.0,70.0,40.0,60.0,0.0,0.0,0.0,0.0,0.0,2012
2,AR,Arkansas,28.0,17.9,82.1,39.3,60.7,2.0,50.0,50.0,0.0,100.0,2012
3,AZ,Arizona,83.0,16.9,83.1,37.3,62.7,2.0,100.0,0.0,50.0,50.0,2012
4,CA,Loma Linda,67.0,46.3,53.7,47.8,52.2,3.0,66.7,33.3,0.0,100.0,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462,WA,Washington State-Floyd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021
1463,WI,MC Wisconsin,248.0,9.3,90.7,49.6,50.0,8.0,37.5,62.5,50.0,50.0,2021
1464,WI,Wisconsin,394.0,7.9,92.1,45.4,54.3,11.0,0.0,100.0,45.5,54.5,2021
1465,WV,Marshall-Edwards,30.0,6.7,93.3,56.7,40.0,2.0,0.0,100.0,50.0,0.0,2021
1466,WV,West Virginia,65.0,10.8,89.2,43.1,55.4,4.0,25.0,75.0,25.0,75.0,2021