In [1]:
import re
import pandas as pd
import numpy as np
from datetime import datetime

In [12]:
directory = "C:/Users/TooFastDan/Documents/MD_PhD Application/Python Analysis"
cal = pd.read_excel(directory+"/MDPhD Interview Dates.xlsx")
cal = cal.iloc[:, 0:3]
cal.columns = ["event", "start_date", "end_date"]
cal['event'] = [e.lower() for e in cal["event"]]
cal

                                                  event start_date   end_date
0                          johns hopkins interview days 2010-09-23 2010-09-25
1                          johns hopkins interview days 2010-09-30 2010-10-02
2                                    ucsf interview day 2010-10-05 2010-10-06
3                           johns hopkins interview day 2010-10-07 2010-10-09
4                                    ucsf interview day 2010-10-12 2010-10-13
...                                                 ...        ...        ...
4619                     mayo clinic md-phd revisit day 2022-04-11 2022-04-12
4620  u wisconsin-madison md-phd revisit day (in per... 2022-04-20 2022-04-21
4621        stony brook md-phd revisit days (in person) 2022-04-20 2022-04-22
4622       u washington md-phd revisit days (in person) 2022-04-21 2022-04-24
4623                   indiana univ md-phd revisit days 2022-04-28 2022-05-01

[4624 rows x 3 columns]

In [27]:
cali = cal[cal['event'].str.contains("interview")]
cali_2021 = cali[cali["start_date"] > datetime(2021, 6, 25)]
cali_2021["length"] = (cali_2021["end_date"] - cali_2021["start_date"]).dt.days
cali_2021

<ipython-input-27-54cc24b1ac23>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cali_2021["length"] = (cali_2021["end_date"] - cali_2021["start_date"]).dt.days

,event,start_date,end_date,length
4277,u texas health san antonio md-phd interview days,2021-08-19,2021-08-21,2
4278,u alabama-birmingham virtual md-phd interview ...,2021-09-08,2021-09-10,2
4279,u rochester virtual md-phd interview days,2021-09-09,2021-09-11,2
4280,uc davis virtual md-phd program interview day,2021-09-10,2021-09-11,1
4281,keck school of medicine of the university of s...,2021-09-10,2021-09-11,1
...,...,...,...,...
4596,u washington virtual md-phd interview days,2022-02-24,2022-02-27,3
4598,medical college of wisconsin md-phd interview ...,2022-03-03,2022-03-05,2
4599,uc davis virtual md-phd program interview day,2022-03-04,2022-03-05,1
4602,virginia commonwealth univ virtual md-phd inte...,2022-03-08,2022-03-10,2
4603,stony brook virtual md-phd interview day (if n...,2022-03-09,2022-03-10,1

In [30]:
(cali_2021['end_date'] - cali_2021['start_date']).dt.days

4277    2
4278    2
4279    2
4280    1
4281    1
       ..
4596    3
4598    2
4599    1
4602    2
4603    1
Length: 323, dtype: int64

In [16]:
?datetime

Init signature: datetime(self, /, *args, **kwargs)
Docstring:
datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])

The year, month and day arguments are required. tzinfo may be None, or an
instance of a tzinfo subclass. The remaining arguments may be ints.
File:           c:\users\toofastdan\anaconda3\lib\datetime.py
Type:           type
Subclasses:     datetime, ABCTimestamp, _NaT

In [9]:
?re.findall

Signature: re.findall(pattern, string, flags=0)
Docstring:
Return a list of all non-overlapping matches in the string.

If one or more capturing groups are present in the pattern, return
a list of groups; this will be a list of tuples if the pattern
has more than one group.

Empty matches are included in the result.
File:      c:\users\toofastdan\anaconda3\lib\re.py
Type:      function